In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("basic").master("local[*]").getOrCreate()

In [3]:
base_path='file:/d:/data/processing/batch/spark/json/people.json'
df=spark.read.json(base_path)

In [4]:
df.schema

StructType([StructField('age', LongType(), True), StructField('name', StringType(), True)])

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+